################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NayeemWebApi/.vs
/NayeemWebApi/NayeemWebApi/obj
